.search__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 2px 0px;
    select {
        border: 2px solid rgb(53, 29, 97);
        background-color: rgb(37, 17, 75);
        padding: 2px;
        color: white;
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;

        @media (max-width: 780px) {
            width: 100%;
        }
    }
    @media (max-width: 780px) {
        flex-direction: column;
        gap: 4px;
        width: 100%;
    }
}
