.details__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

    .event__details {
        display: flex;
        padding: 20px;
        font-weight: bold;
        justify-content: space-between;
        p {
            span {
                padding-left: 4px;
                color: rgb(83, 74, 74);
            }
        }
        button {
            cursor: pointer;
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }

        img {
            height: 500px;
            width: 600px;
            border-radius: 10px;

            @media (max-width: 768px) {
                height: 400px;
                width: 100%;
            }
        }

        button {
            padding: 4px 8px;
            background-color: rgb(15, 15, 77);
            color: wheat;
            border-radius: 5px;
        }

        .seat__chart {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 20px 20px 20px;

            .seat__row {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .seat {
                    width: 30px;
                    height: 30px;
                    margin: 5px;
                    background-color: #eee;
                    border: 1px solid #ccc;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    font-size: 12px;
                    &:hover {
                        background-color: green;
                    }
                }
                .active {
                    background-color: red;
                }
            }
        }
    }
}
